.carousel-inner{
    max-height: 500px;
    align-items: center;
    justify-content: center;
}
.hero{
   
    margin-top: 40px;
    margin-left: 10px;
    border-top: 1px solid lightslategray;
    padding-top: 20px;
    }
*{
    padding: 0;
    margin: 0;
}

#div1{
    display:flex;
    padding: 0px;
    justify-content:flex-start ;
    margin-left: 50px;
}
#div2{
    display:flex;
    padding: 0px;
    justify-content:flex-start;
    margin-left: 50px;
}
#div3{
    display: flex;
    padding: 0px;
    justify-content:flex-start;
    margin-left: 50px;
}

    



    



    



    


    

    



    