.fondo {
    background: url("../image/Lighthouse.jpg") no-repeat center center fixed;
    background-size: cover;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#box-1{
     display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    box-shadow: 10px 10px 20px #fdfdfd;
    border: 1px dotted;
    color: rgb(247, 247, 247);
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 150px;
    padding: 50px;
    
    
}
#box-2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    box-shadow: 10px 10px 20px #fcfafa;
    border: 1px dotted;
    color: rgb(247, 247, 247);
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 50px;
}

#formulario {
    
     width: 300px;

}

